{% load cms_tags i18n menu_tags sekizai_tags static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta Tags For Seo + Page Optimization -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="Micah" content="Themes Industry" />
    <!-- description -->
    <meta
      name="description"
      content="{% page_attribute 'meta_description' %}"
    />
    
    <!-- Page Title -->
    <title>{% page_attribute "title" %}</title>
    <!-- Favicon -->
    {% include "header.html" %}
    {% render_block "css" %}

    {% if request.toolbar %}
    <style>
      .cms-toolbar-expanded .navbar-custom {
        margin-top: 45px
      }
      #li.active {
    color: #f8f9fa;
    background-color: black;
}
    </style>
    {% endif %}
  </head>
  <body data-spy="scroll" data-target=".navbar" data-offset="100">
    {% cms_toolbar %}
    <!--loading start-->
    
    <!--loading end-->
    {% block content %}{% endblock %}

    {% include "footer.html" %}
    {% include "scripts.html" %}
    {% render_block "js" %}
  </body>
</html>
