{% load cms_tags i18n menu_tags sekizai_tags static %}
<link rel="icon" href="event/img/favicon.ico" />
<!--css links-->
<link rel="stylesheet" href="{% static 'vendor/css/bundle.min.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'vendor/css/cubeportfolio.min.css' %}"
/>

<link rel="stylesheet" href="{% static 'vendor/css/wow.css' %}" />
<link
  rel="stylesheet"
  href="{% static 'vendor/css/owl.carousel.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'vendor/css/mediaelementplayer.min.css' %}"
/>
<link
  rel="stylesheet"
  href="{% static 'event/css/line-awesome.min.css' %}"
/>
<link rel="stylesheet" href="{% static 'event/css/layers.css' %}" />
<link rel="stylesheet" href="{% static 'event/css/settings.css' %}" />
<link rel="stylesheet" href="{% static 'event/css/loader.css' %}" />
<link rel="stylesheet" href="{% static 'event/css/style.css' %}" />