{% load cms_tags i18n menu_tags sekizai_tags static %}


<script src="{% static 'vendor/js/bundle.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.tools.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.themepunch.revolution.min.js' %}"></script>
<script src="{% static 'vendor/js/jquery.cubeportfolio.min.js' %}"></script>
<!-- SLIDER REVOLUTION EXTENSIONS -->
<script src="{% static 'vendor/js/extensions/revolution.extension.actions.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.carousel.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.kenburn.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.layeranimation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.migration.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.navigation.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.parallax.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.slideanims.min.js' %}"></script>
<script src="{% static 'vendor/js/extensions/revolution.extension.video.min.js' %}"></script>
<!-- SNOW ADD ON -->
<!-- <script src="{% static 'vendor/js/extensions/revolution.addon.snow.min.js' %}"></script> -->
<script src="{% static 'vendor/js/TweenMax.min.js' %}"></script>
<script src="{% static 'event/js/countdown.js' %}"></script>
<script src="{% static 'vendor/js/parallaxie.min.js' %}"></script>
<script src="{% static 'vendor/js/owl.carousel.min.js' %}"></script>
<script src="{% static 'event/js/tilt.jquery.js' %}"></script>
<script src="{% static 'vendor/js/wow.min.js' %}"></script>
<!--counter js links-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJRG4KqGVNvAPY4UcVDLcLNXMXk2ktNfY"></script>
<script src="{% static 'event/js/map.js' %}"></script>
<script src="{% static 'event/js/script.js' %}"></script>